*{
  padding: 0;
  margin: 0;
}
body{
  font-family: Roboto, arial;
  background-color: var(--body-bgcolor);
  color: var(--text-color);
  padding-top: 60px;
  height: 200vh;
}

/* light theme */
:root{
  --bgcolor: #f8f8f8;
  --border-color: lightgray;
  --buttons: #eeeeee;
  --body-bgcolor: white;
  --text-color: #282828;
  --search-box-text: #272727;
}

/* dark theme */
/* :root{
  --bgcolor: #121212;
  --border-color: lightgray;
  --buttons: #272727;
  --body-bgcolor: #0f0f0f;
  --text-color: #ffffff;
  --search-box-text: #767676;
} */