*{
  padding: 0;
  margin: 0;
}
body{
  font-family: Roboto, arial;
  background-color: var(--body-bgcolor);
  color: var(--text-color);
  padding-top: 130px;
  padding-left: 72px;
  height: max-content;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

/* light theme */
:root{
  --search: #f8f8f8;
  --border-color: lightgray;
  --buttons: #f2f2f2;
  --body-bgcolor: #fff;
  --text-color: #282828;
  --search-box-text: #272727;
  --notification: #c00;
  --font-color-video-detail: #676767;
  --tooltips: #6c6c6cdd;
  --hover: #dcdcdc;
}

/* dark theme */
/* :root{
  --bgcolor: #121212;
  --border-color: lightgray;
  --buttons: #272727;
  --body-bgcolor: #0f0f0f;
  --text-color: #ffffff;
  --search-box-text: #767676;
} */